* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f6f5f2;
  color: #111;
}

/* HEADER */
.header {
  padding: 40px 60px;
  padding-bottom: 60px;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
}

/* GRID EDITORIAL (NO REGULAR) */
.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 70px 20px;
  padding: 0 20px 120px;
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
  /* height: auto; */
  display: block;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.card h4 {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  margin-top: 10px;
  letter-spacing: 0.02em;
  opacity: 0.75;
}

/* COMPOSICIÓN EDITORIAL ARCHIVO */

/* Fila 1: 3 a la izquierda */
.card:nth-child(1) {
  grid-column: 1;
}
.card:nth-child(2) {
  grid-column: 2;
}
.card:nth-child(3) {
  grid-column: 3;
}

/* Fila 2: 2 a la derecha */
.card:nth-child(4) {
  grid-column: 5;
}
.card:nth-child(5) {
  grid-column: 6;
}

/* Fila 3: 1 centrada */

.card:nth-child(6) {
  grid-column: 3;
}
.card:nth-child(7) {
  grid-column: 6;
}

/* Fila 4: 2 a la izquierda */
.card:nth-child(8) {
  grid-column: 1;
}
.card:nth-child(9) {
  grid-column: 2;
}

/* Fila 5: 3 mix */
.card:nth-child(10) {
  grid-column: 1;
}
.card:nth-child(11) {
  grid-column: 4;
}
.card:nth-child(12) {
  grid-column: 5;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 1000;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

/* ARTÍCULO */
.modal-article {
  width: 90%;
  height: 90%;
  /* max-height: 85vh; */
  background: #fff;
  padding: 80px 120px;
  overflow-y: auto;
  position: relative;
  transform: translateY(30px);
  transition: transform 0.4s ease;
}

.modal.active .modal-article {
  transform: translateY(0);
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* ARTÍCULO INTERIOR */

.article-header {
  max-width: 900px;
  margin: 0 auto;
  margin-left: 120px;
}
.article-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
}

.article-header h3 {
  font-style: italic;
  font-weight: 300;
  margin-top: 8px;
  font-size: 15px;
}

.article-body {
  max-width: 650px;
  margin: 60px auto 0;
}

.article-body p {
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 24px;
}

.article-footer {
  margin: 80px auto 0;
  margin-right: 120px;
  text-align: right;
  font-size: 14px;
  font-style: italic;
  max-width: 900px;
  opacity: 0.7;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .editorial-grid {
    column-count: 2;
  }

  .modal-article {
    padding: 50px;
  }
}

@media (max-width: 600px) {
  .editorial-grid {
    column-count: 1;
  }
}
