/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* GRID DE ARTÍCULOS */
.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 60px;
}

/* .article-card {
  position: relative;
  cursor: pointer;
} */
.article-card {
  height: 220px; /* aquí mandas tú */
  overflow: hidden;
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .article-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
} */

/* .article-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
} */

.article-card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 80%;
  height: 80%;
  background: white;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.modal-body {
  height: 100%;
  overflow-y: auto;
}

/* BOTÓN CERRAR */
.close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}
